# Build on x86_64 machines (e.g. on host computer). Run with --config=x86_64
build:x86_64 --action_env=LIBSOCKCANPP_TOOLCHAIN=x86_64-toolchain.cmake

# Build on arm64 machines. Run with --config=arm64
build:arm64 --action_env=LIBSOCKCANPP_TOOLCHAIN=arm64-toolchain.cmake

# Build on armhf machines (e.g. on Raspberry Pi). Run with --config=armhf
build:armhf --action_env=LIBSOCKCANPP_TOOLCHAIN=armhf-toolchain.cmake

# Global options set on every build
build --action_env=BAZEL_CXXOPTS="-std=c++17"
