<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="huron">
    <!-- HURON model for use with Gazebo simulation -->
    <xacro:include filename="$(find huron_description)/urdf/huron_macro.xacro" />
    <xacro:include filename="$(find huron_gazebo)/urdf/huron_ros2_control.xacro" />

    <!-- Add HURON Base -->
    <xacro:huron_base />

    <!-- ros2_control plugin -->
    <xacro:huron_ros2_control name="huron" prefix="" />

    <gazebo>
        <plugin name="ground_truth" filename="libgazebo_ros_p3d.so">
          <ros>
            <namespace>p3d</namespace>
            <remapping>odom:=odom</remapping>
          </ros>
          <frame_name>map</frame_name>
          <body_name>dummy</body_name>
          <!-- <topicName>/huron/odom</topicName> -->
          <updateRate>100.0</updateRate>
        </plugin>
    </gazebo>

    <!-- imu sensor -->
    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>100</update_rate>
            <visualize>true</visualize>
            <topic>/huron/sensor/imu</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>huron/sensor/imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>10.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

  
    <gazebo reference ="r_ankle_roll_joint">
    	<provideFeedback>true</provideFeedback>
    </gazebo>

    <gazebo>
    <plugin name="r1_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <ros>
        <namespace>/huron/sensor</namespace>
        <remapping>wrench:=r1_ft_sensor</remapping>
      </ros>
      <update_rate>100</update_rate>
      <!-- <body_name>r_ankle_roll_link</body_name> -->
      <!-- <frame_name>r_ankle_roll_link</frame_name> -->
      <joint_name>r_ankle_roll_joint</joint_name>
      <gaussian_noise>0.0</gaussian_noise>
    </plugin>
    </gazebo>
    
   
    <gazebo reference ="l_ankle_roll_joint">
    	<provideFeedback>true</provideFeedback>
    </gazebo>
    
    <gazebo>
    <plugin name="l1_ft_sensor" filename="libgazebo_ros_ft_sensor.so">
      <ros>
        <namespace>/huron/sensor</namespace>
        <remapping>wrench:=l1_ft_sensor</remapping>
      </ros>
      <update_rate>100</update_rate>
      <!-- <body_name>l_ankle_roll_link</body_name> -->
      <!-- <frame_name>l_ankle_roll_link</frame_name> -->
      <joint_name>l_ankle_roll_joint</joint_name>
      <gaussian_noise>0.0</gaussian_noise>
    </plugin>
    </gazebo>
    
    <!-- <gazebo reference = "l_hip_yaw_joint"> -->
    <!-- 	<preserveFixedJoint>true</preserveFixedJoint> -->
    <!-- </gazebo> -->
    <!-- <gazebo reference = "l_hip_roll_joint"> -->
    <!-- 	<preserveFixedJoint>true</preserveFixedJoint> -->
    <!-- </gazebo> -->
    <!-- <gazebo reference = "r_hip_yaw_joint"> -->
    <!-- 	<preserveFixedJoint>true</preserveFixedJoint> -->
    <!-- </gazebo> -->
    <!-- <gazebo reference = "r_hip_roll_joint"> -->
    <!-- 	<preserveFixedJoint>true</preserveFixedJoint> -->
    <!-- </gazebo> -->
    <!-- <gazebo reference = "dummy_joint"> -->
    <!-- 	<preserveFixedJoint>true</preserveFixedJoint> -->
    <!-- </gazebo> -->
    
    <!-- World -->
    <gazebo reference="world"></gazebo>
    <!-- Map -->
    <gazebo reference="map"></gazebo>

    <gazebo reference="dummy"></gazebo>
    <!-- Base -->
    <gazebo reference="base_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <!-- IMU -->
    <gazebo reference="imu_link"></gazebo>
    <!-- Body-->
    <!-- <gazebo reference="base_footprint"> -->
    <!--     <mu1>0.2</mu1> -->
    <!--     <mu2>0.2</mu2> -->
    <!--     <material>Gazebo/Grey</material> -->
    <!--     <selfCollide>false</selfCollide> -->
    <!-- </gazebo> -->
    <!-- Battery -->
    <gazebo reference="battery_link">
        <material>Gazebo/SkyBlue</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <!-- Upper body visualization -->
    <gazebo reference="upper_body_link">
        <material>Gazebo/SkyBlue</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <!-- Left Leg -->
    <gazebo reference="l_hip_yaw_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>

    </gazebo>
    <gazebo reference="l_hip_roll_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="l_hip_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="l_knee_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="l_ankle_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="l_ankle_roll_link">
        <kp>1e15</kp>
        <kd>1e13</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!-- <mu>0.9</mu> -->
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>0 0 1</fdir1>
        <!-- <maxVel>1.0</maxVel> -->
        <!-- <minDepth>0.001</minDepth> -->
        <material>Gazebo/Blue</material>
    </gazebo>
    
    <!-- Right Leg -->
    <gazebo reference="r_hip_yaw_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="r_hip_roll_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="r_hip_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="r_knee_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="r_ankle_pitch_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Grey</material>
        <selfCollide>false</selfCollide>
    </gazebo>
    <gazebo reference="r_ankle_roll_link">
        <kp>1e15</kp>
        <kd>1e13</kd>
        <mu1>0.9</mu1>
        <mu2>0.9</mu2>
        <!-- <mu>0.9</mu> -->
        <!--<maxContacts>30</maxContacts>-->
        <fdir1>0 0 1</fdir1>
        <!--  <maxVel>1.0</maxVel>  -->
        <!-- <minDepth>0.0001</minDepth> -->
        <material>Gazebo/Blue</material>
    </gazebo>   
</robot>
