<?xml version="1.0"?>
<robot name="huron" xmlns:xacro="http://www.ros.org/wiki/xacro">
  <!--
    Top level description file for HURON. This can be used to generate a URDF.
  -->

  <xacro:include filename="$(find huron_description)/urdf/huron_macro.xacro" />

  <!-- Add HURON Base -->
  <xacro:huron_base />

</robot>
